{{#each thisOrder}}
<h2>Заказы</h2>
<h3>Клиент: {{this.Client.name}} {{this.Client.lastName}}<br>Почта:{{this.Client.email}}</h3>

<table class="simple-little-table">
  <thead class="tableTr">
    <tr>
      <td class="th">Цена доставки:</td>
      <td class="th">{{this.deliveryPrice}}</td>
    </tr>
    <tr>
      <td class="th">Цена сборки:</td>
      <td class="th">{{this.assemblyPrice}}</td>
    </tr>
    <tr>
      <td class="th">Дата доставки:</td>
      <td class="th">{{this.dataDelivery}}</td>
    </tr>
    <tr>
      <td class="th">Дата сборки:</td>
      <td class="th">{{this.dataAssembly}}</td>
    </tr>
    <tr>
      <td class="th">Бригада доставки:</td>
      <td class="th">{{this.brigadeDelivery}}</td>
    </tr>
    <tr>
      <td class="th">Бригада сборки:</td>
      <td class="th">{{this.brigadeAssembly}}</td>
    </tr>
    <tr>
      <td class="th">Статус:</td>
      <td class="th">{{this.status_id}}</td>
    </tr>
    <tr>
      <td class="th">Создал:</td>
      <td class="th">{{this.User.firstName}} {{this.User.lastName}}<br>{{this.User.email}}</td>
    </tr>
  </thead>
</table>
{{/each}}

<h2>Комментарии к заказу</h2>
<table class="simple-little-table">
  <thead>
    <tr>
      <th>Текст</th>
      <th>Инициалы комментирующего</th>
      <th>Почта комментирующего</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
    {{#each allOrderComment }}
    <tr>
      <td>{{this.comment}}</td>
      <td>{{this.User.firstName}} {{this.User.lastName}}</td>
      <td>{{this.User.email}}</td>
      <td>{{this.date}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>
